/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.news-container {
    display: block;
    margin: auto;
    max-width: 400px;
    max-height: 500px;
    overflow-y: auto;
    background: #400307;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
}

.news-card {
    background: #56060b;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.news-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.news-content {
    padding: 10px;
}

.news-title {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #fffa;
}

.news-source,
.news-author,
.news-description {
    font-size: 14px;
    color: #a4a4a4;
    margin: 3px 0;
}

.news-link {
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.news-link:hover {
    text-decoration: underline;
}

.custom-scrollbar {
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #400307;
    border-radius: 0px 5px 5px 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #56060b;
    border-radius: 0px 5px 5px 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
